@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

.nub {
  position: absolute;
  width: 100px;
  margin: 2vw 2vw -4vw 15vw;
}

.photo {
  border-radius: 100px;
}

nav,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin-bottom: 1.7rem;
  padding: 0;
}

aside {
  display: flex;
  flex-direction: row;
}

span {
  margin: 25px;
  font-size: 12px;
  color: rgb(42, 33, 94);
  text-transform: uppercase;
  font-weight: bold;
}

.talkimg {
  max-width: 100%;
  min-width: 300px;
}

ul,
li {
  display: flex;
  margin: 0.4vw;
  justify-content: center;
}

i {
  color: rgb(41, 45, 48);
}

p {
  line-height: 1.35;
}

.name {
  margin-bottom: -0.4em;
  font-weight: bold;
}

.fontColor {
  color: rgb(156, 166, 189);
}

.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.profile {
  padding: 0.5vw 16vw;
}

table {
  width: 80%;
  table-layout: fixed;
  margin-left: 6vw;
}

tr {
  font-size: 12px;
  color: rgb(42, 33, 94);
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: center;
  border-bottom: solid 1px rgb(217, 219, 224);
}
