@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}

.nub {
  position: absolute;
  width: 90px;
  margin: 2vw 2vw -4vw 15vw;
}

.photo {
  border-radius: 100px;
}

nav,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  margin-bottom: 1.7rem;
  padding: 0;
}

ul,
li {
  display: flex;
  margin: 0.4vw;
  justify-content: center;
}

i {
  color: rgb(41, 45, 48);
}

p {
  line-height: 1.35;
}

.name {
  margin-bottom: -0.4em;
  font-weight: bold;
}

.fontColor {
  color: rgb(134, 131, 131);
}

.container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.profile {
  padding: 0.5vw 16vw;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 3vw;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}